<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="felipeBagnato.personal.todoList">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_todo_list"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_todo_list"
        android:supportsRtl="true"
        android:theme="@style/Theme.TODOList">
        <activity
            android:name=".ui.tarefas.tarefasForm.TarefasFormActivity"
            android:label="@string/label_form_activity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.tarefas.tarefasInfo.TarefaInfoActivity"
            android:label="@string/label_info_activity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TODOList.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>